# Eclipse
.project
.classpath
.settings

# IntelliJ IDEA
*.iml
*.ipr
*.iws
out

# ignore .idea directory
.idea/*

# keep fileTemplates directory
!.idea/fileTemplates
!.idea/fileTemplates/*

# Ant
build.xml
local.properties
proguard.cfg

# Gradle
.gradle
build

# OSX
.DS_Store

# Windows
*.db

# Android
*.apk

# Secret keys
secrets.properties

