# Eclipse
.project
.classpath
.settings

# IntelliJ IDEA
*.iml
*.ipr
*.iws
out

# ignore .idea directory
.idea/

# Ant
build.xml
local.properties
proguard.cfg

# Gradle
.gradle
build

# OSX
.DS_Store

# Windows
*.db

# Android
*.apk

# Secret keys
secrets.properties

#Qpid
core/derby.log
core/work/
derby.log
work/
