<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hisp.dhis.client.sdk.ui.bindings">

    <!-- All this permissions are required only for SyncAdapter -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <Application>
        <!-- stub Authenticator service -->
        <service android:name="org.hisp.dhis.client.sdk.ui.bindings.commons.AuthenticatorService">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- stub provider: -->
        <provider
            android:name="org.hisp.dhis.client.sdk.ui.bindings.commons.DefaultStubProviderImpl"
            android:authorities="@string/authority"
            android:exported="false"
            android:label="provider"
            android:syncable="true" />

    </Application>
</manifest>
